@import './variables';
@import './mixins';
    
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-black;
}

.rating  {
  @include rating;

  &__simbol {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 10px;

    .simbol {
        padding: 6px 13px;
        font-size: 30px;
        color: $color-orange;
        background-color: $color-lightDarkGray;
        border-radius: 50%;
        transition: 0.35s;

      &:hover {
          color: $color-lightDarkGray;
          background-color: $color-orange;
      }
    }
  }

  &__title {
    @include title;
  }

  &__description {
    @include description;
  }

    .evaluation {
    display: flex;
    margin-top: 25px;
    align-items: center;
    justify-content: space-between;

    &__grade {
      padding: 15px 20px;
      border-radius: 50%;
      font-size: 17px;
      font-weight: bold;
      color: $color-gray;
      background-color: $color-lightDarkGray;
      transition: 0.35s;

      &:hover {
        background-color: $color-lightGray;
        cursor: pointer;
      }
    }        

    &__set-grade {
      color: $color-white;
      background-color: $color-orange;


      &:hover {
        color: $color-white;
        background-color: $color-orange;
      }
    }
  }

  &__button {
  @include button;

    &:hover {
      @include hover-button;
    }
  }

  &__inactive {
    display: none;
  }
}

.rating--done {
  @include rating;
  display: none;
  align-items: center;

  &__title--done {
    @include title;
  }

  &__confirm {
    margin-top: 10px;
    padding: 10px 10px 7px 10px;
    color: $color-orange;
    background-color: $color-lightDarkGray;
    border-radius: 20px;
  }

  &__description--done {
    @include description;
    text-align: center;
  }

  &__active {
    display: flex;
  }
}

.rating--block {
  @include rating;
  display: none;
  font-size: 25px;
  text-align: center;
  color: $color-lightGray;
  transition: 2s;

  &__return {
    @include button;
    cursor: pointer;

    &:hover {
      @include hover-button;
    }
  }
  &__active {
    display: flex;
  }
}

footer {
  color: $color-white;
  position: absolute;
  bottom: 0%;
  width: 100%;
  text-align: center;

  .attribution {
    font-style: italic;
    font-size: 18px;
  }
}

    
        
        